In [1]:
import pandas as pd

fields = pd.read_csv('ekoniva-dataset/fields.csv', encoding='utf-8')
value = pd.read_csv('ekoniva-dataset/value.csv', encoding='utf-8')
works = pd.read_csv('ekoniva-dataset/works.csv', encoding='utf-8')

In [2]:
fields.head()

,field,region,land_type,fertility_score,season,crop,crop_predecessor,crop_yearold,area,hybrid,reproduction,seed_origin,technology,yield_plan,p2o5,k2o,humus,ph
0,22.47.01.001.01,Алтай,пашня,NaN,2023,Оз.пшеница мягкая,Пар; Яр.пшеница мягкая,NaN,"306,22",Скипетр,ЭС,Покупные,минимальная,"3,80","243,16","226,93","4,46","5,78"
1,22.47.01.001.02,Алтай,пашня,NaN,2023,Пар,Пар; Яр.пшеница мягкая,NaN,"63,16",NaN,NaN,NaN,минимальная,NaN,"243,16","226,93","4,46","5,78"
2,22.47.01.002.00,Алтай,пашня,4.0,2023,Пар,Яр.пшеница мягкая,NaN,"485,79",NaN,NaN,NaN,NaN,NaN,"219,78","204,60","3,85","5,72"
3,22.47.01.003.00,Алтай,пашня,4.0,2023,Оз.пшеница мягкая,Пар,NaN,"452,25",Скипетр,ЭС,Покупные,минимальная,"3,80","205,15","192,28","6,49","5,94"
4,22.47.01.004.00,Алтай,пашня,3.0,2023,Оз.пшеница мягкая,Пар,NaN,"269,64",Скипетр,ЭС,Покупные,минимальная,"3,80","183,26","162,69","6,16","5,94"

In [3]:
fields['land_type'].value_counts()

land_type
пашня                    15636
луг                        291
пастбище естественное      127
Name: count, dtype: int64

In [4]:
fields['region'].value_counts()

region
Калуга         4694
Воронеж        4037
Рязань         1963
Новосибирск    1250
Курск           934
Татарстан       805
Оренбург        524
Москва          504
Башкирия        481
Алтай           254
Самара          241
Тюмень          218
СПб             149
Name: count, dtype: int64

In [5]:
fields['season'].value_counts()

season
2024    8145
2023    7909
Name: count, dtype: int64

In [17]:
fields['crop'].value_counts()
counts.columns = ['crop', 'count']
counts[counts['count'] > 100]

                      crop  count
0              Залежь, лес   2725
1           Кукуруза силос   1748
2      Люцерна пр.лет корм   1298
3        Оз.пшеница мягкая   1130
4        Яр.пшеница мягкая    902
5                      Пар    783
6                      Соя    756
7           Кукуруза зерно    741
8                Яр.ячмень    513
9       Люцерна 1 г.ж.корм    462
10                  Залежь    333
11            Подсолнечник    308
12           Лён масличный    297
13                     Луг    291
14  Эсп.+костр.пр.лет корм    273
15                Чечевица    250
16       Пастбище на пашне    245
17                   Горох    177
18         Кукуруза корнаж    169
19              Сах.свекла    147
20       Залежь, кустарник    141
21   Пастбище естественное    140
22  Кл.кр.+тим.пр.лет корм    113

In [18]:
counts = fields['crop_predecessor'].value_counts().reset_index()
counts.columns = ['crop_predecessor', 'count']
counts[counts['count'] > 100]

                                      crop_predecessor  count
23                                Подсолнечник кондит.     89
24     Одн.тр.райграс одн.с подс.(кл.кр.+тим.корм)корм     85
25                           Одн.тр.суданская тр.корм.     71
26                               Эсп.+костр.1 г.ж.корм     69
27                                                Овёс     69
..                                                 ...    ...
231  Одн.тр(оз.тритикале+оз.вика) семена; Одн.тр.оз...      1
232                   Гречиха; Одн.тр.райграс одн.корм      1
233                                 Кормовые бобы; Соя      1
234                            Гречиха; Кукуруза силос      1
235                                Нут; Кукуруза зерно      1

[213 rows x 2 columns]

In [8]:
fields['region'].value_counts()

hybrid
Смесь сортов    531
Ликамеро        420
Скипетр         304
БН 06-18        291
Галифакс        258
               ...
Китросса          1
Топаз             1
Сентябринка       1
Янки              1
Воин              1
Name: count, Length: 302, dtype: int64

In [9]:
fields['reproduction'].value_counts()

reproduction
F1                   2413
РС-1                 2097
ЭС                   1048
РС-2                  959
РСт                   743
Смесь репродукций     327
РС-3                  307
СЭ                    158
ПР-2                   36
ОС                     36
ПР-1                   35
Без репродукции        33
ПР                      1
Name: count, dtype: int64

In [10]:
fields['seed_origin'].value_counts()

seed_origin
Покупные           5124
Свои               3240
Свои + покупные     103
Name: count, dtype: int64

In [11]:
fields['technology'].value_counts()

technology
минимальная                 4793
классическая с плугом       2936
нулевая с прямым посевом     998
гибридизация                  38
Name: count, dtype: int64